body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-top: 1.2em;
    text-align: center;
}

#main {
    background-color: #eeeeee;
}

h4 {
    text-align: center;
    color: grey;
}

#img-div {
    background-color: white;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#info-div {
    padding: 1.7em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#info-div p {
    color: #000;
    font-size: 1.2rem;
}

ul {
    display: block;
    width: 45%;
}

li {
    margin: 1.2em 0;
}

em {
    display: block;
    width: 45%;
}

h3 {
    text-align: center;
    padding-bottom: 1.5em;;
}